<div class="content" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>
  <div id="post-info">
    <div id="info-container">
      <h1 id="title">welcome</h1>
    </div>
  </div>
  <br><br>

  <div class="post">
  I am a postdoc with <a href="http://www.marcottelab.org/index.php/Main_Page"> Edward Marcotte</a> and 
  <a href="https://clm.utexas.edu/AldrichLab/">Richard Aldrich</a>.
  My research interests encompass molecular evolution, biophysics, and systems biology.
  
  <br><br>
  <b>Contact Information</b>:
  <div class="contact-info">
        <li>
          Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:{{bliebeskind@austin.utexas.edu}}">bliebeskind{at}austin{dot}utexas{dot}edu</a>
        </li>
        <li>
          Github:&nbsp;&nbsp;&nbsp;  <a href="https://github.com/bliebeskind">bliebeskind</a>
		</li>
        <li>
		  Google Scholar: &nbsp;&nbsp;&nbsp; <a href="http://scholar.google.com/citations?user=Xl_cojkAAAAJ&hl=en">here</a>
		  		</li>
        <li>
		  CV: &nbsp;&nbsp;&nbsp; <a href="./files/Liebeskind_BioSketch.pdf">here</a>
        </li> 
    </div>
  </div> 



  
  
  
</div>   
</div>